.quote {
    @include border-quote;
    text-align: center;
    background-color: $colour-tertiary;
}

.step {
    padding: 100px 50px 100px 50px;
    background-color: $colour-white;
    position: relative;
}

.fiches {
    background-color: $colour-tertiary;
    padding: 100px 50px 100px 50px;
    &__heading {
        margin-bottom: 50px;
    }
}

.page {
    background-color: $colour-tertiary;
    border-radius: 80px 80px 0px 0px;
    margin-top: -4rem;
    position: relative;
}