.header {
    &__logo {
        text-align: center;
    }
    &__page  {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__icon {
        margin-right: 20px;
        font-size: 1.5em;
    }
    @include for-phone-only {
        margin-top: 50px;  
        &__logo {
            margin-bottom: 20px;
        }
        &__icon {
            font-size: 3em;
        }
    }
}