.fiches-prev {
    @include box-radius;
    height: auto;
    margin-bottom: 50px;
    line-height: 1.1em;
    background-color: $colour-white;
    &__image {
        @include img-radius;
        width: 870px;
        height: 450px;
        object-fit: cover;
    }
    &__badge {
        @include badge-fiches;
    }
    &__footer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    &__content {
        flex: 1;
    }
    &__heading {
        font-size: 3.1em;
        font-weight: bold;
    }
    &__byline {
        color: $colour-shadow;
        font-size: 3em;
    }
    &__icon {
        @include btn-fiches;
    }
}