.fiches {
    &__element {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
    @include for-tablet {
        &__heading {
            margin-left: 40px;
        }
    }
    @include for-phone-only {
        &__heading {
            font-size: 4em;
        }
    }
}

.fiches-prev {
    @include box-radius;
    height: 350px;
    width: 650px;
    margin-bottom: 50px;
    line-height: 1.1em;
    background-color: $colour-white;
    &__image {
        @include img-radius;
        width: 650px;
        height: 250px;
        object-fit: cover;
        cursor: pointer;
    }
    &__badge {
        @include badge-fiches;
    }
    &__footer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
    }
    &__content {
        flex: 1;
    }
    &__heading {
        font-size: 1em;
        font-weight: bold;
    }
    &__byline {
        color: $colour-shadow;
        font-size: 1em;
    }
    @include for-tablet {
        width: 350px;
        &__badge {
            @include badge-fiches-tablet;
            margin-right: 100px;
        }
        &__image {
            width: 350px;
        }
    }
    @include for-phone-only {
        @include box-radius;
        width: auto;
        height: auto;
        &__image {
            width: 850px;
            height: 450px;
            object-fit: cover;
        }
        &__badge {
            @include badge-fiches-mobile;
            font-size: 2.5em;
        }
        &__heading {
            font-size: 3.1em;
        }
        &__byline {
            color: $colour-shadow;
            font-size: 3em;
        }
    }
}