.banner {
    &__image {
        @include banner-img;
    }
    @include for-phone-only {
        &__image {
            @include banner-img-mobile;
        }
    }
}

.page {
    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 2em;
    }
    &__sub-heading {
        @include page-sub;
    }
    &__contenair {
        display: flex;
        justify-content: space-around;
    }
    @include for-phone-only {
        &__heading {
            font-size: 3em;
            margin-bottom: -50px;
        }
        &__sub-heading {
            @include page-sub-mobile;
        }
        &__contenair {
            display: block;
        }
    }
}

.product {
    @include product;
    &__content {
        flex: 1;
    }
    &__price {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        font-weight: bold;
    }
    @include for-phone-only {
        @include product;
        &__content {
            flex: 1;
            line-height: 1em;
            text-overflow: ellipsis;
        }
        &__heading {
            font-size: 2.5em;
        }
        &__byline {
            color: $colour-shadow;
            font-size: 2.3em;
        }
        &__price {
            font-size: 2.5em;
        }
    }
}

.btn-page {
    margin-top: 100px;
    text-align: center;
    @include for-phone-only {
        margin-top: 100px;
        text-align: center;
    }
}

.btn-command {
    @include btn-commande;
    font-size: 1em;
    @include for-phone-only {
        font-size: 2.5em;
    }
}