.banner {
    &__image {
        @include banner-img;
    }
    @include for-tablet {
        &__image {
            @include banner-img-tablet;
        }
    }
    @include for-phone-only {
        &__image {
            @include banner-img-mobile;
        }
    }
}

.page {
    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 2em;
        font-family: 'Shrikhand';
    }
    &__sub-heading {
        @include page-sub;
    }
    &__contenair {
        display: flex;
        justify-content: space-around;
    }
    @include for-tablet {
        &__sub-heading {
            @include page-sub-tablet;
        }
        &__sub-heading::after {
            content: "";
            width: 4rem;
            height: .45rem;
            background-color: $colour-valid;
            position: absolute;
            margin-top: 40px;
            left: 40px;
        }
        &__contenair {
            flex-direction: column;
        }
    }
    @include for-phone-only {
        &__heading {
            font-size: 3em;
            margin-bottom: -50px;
        }
        &__sub-heading {
            @include page-sub-mobile;
        }
        &__sub-heading::after {
            content: "";
            width: 6rem;
            height: .45rem;
            background-color: $colour-valid;
            position: absolute;
            margin-top: 60px;
            left: 40px;
        }
        &__contenair {
            flex-direction: column;
        }
    }
}

.product {
    @include product;
    &__content {
        flex: 1;
        h3 {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 1em;
        }
        p {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 0.8em;
        }
    }
    &__price {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        font-weight: bold;
    }
    @include for-tablet {
        &__content {
            h3 {
                font-size: 1.3em;
            }
            p {
                font-size: 1.2em;
            }
        }
        &__price {
            font-size: 1.2em;
        }
    }
    @include for-phone-only {
        &__content {
            h3 {
                font-size: 2.5em;
            }
            p {
                font-size: 2.3em;
            }
        }
        &__price {
            font-size: 2.5em;
        }
    }
}