.quote {
    &__header {
        @include font-quote;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__icon {
        margin-right: 20px;
    }
    &__btn {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 0.8em;
    }
    @include for-phone-only {
        &__header {
            @include font-quote;
            padding: 15px;
            font-size: 1em;
            font-weight: bold;
            margin-top: 0%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__icon {
            margin-right: 20px;
        }
        &__heading {
            margin-top: 50px;
            padding: 0px 20px;
        }
        &__byline {
            padding: 0px 20px;
            color: $colour-shadow;
        }
        &__btn {
            font-size: 1em;
        }
    }
}