.step {
    &__heading {
        font-size: 2em;
        margin-bottom: 50px;
        margin-left: 25px;
    }
    &__tuto {
        display: flex;
        align-items: center;
        justify-content: space-around;
        counter-reset: listItem;
        list-style-type: none;
    }
    &__element::before {
        counter-increment: listItem;
        content: counter(listItem) " ";
        background-color: $colour-primary;
        color: $colour-white;
        position: absolute;
        font-size: 1.5em;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        left: -.95rem;
        margin-top: -10px;
    }
    &__element {
        @include box-shadow;
        width: 300px;
        padding: 40px;
        border-radius: 40px;
        margin-bottom: 50px;
        background-color: $colour-tertiary;
        position: relative;
        font-weight: bold;
        cursor: pointer;
    }
    &__icon {
        color: $colour-shadow;
        margin-right: 40px;
    }
    @include for-tablet {
        &__element {
            width: 200px;
        }
        &__icon {
            margin-right: 10px;
        }
    }
    @include for-phone-only {
        &__heading {
            font-size: 2.3em;
        }
        &__tuto {
            flex-direction: column;
        }
        &__element::before {
            margin-top: 0px;
            font-size: 0.9em;
            height: 3.5rem;
            width: 3.5rem;
        }
        &__element {
            width: 750px;
            height: 50px;
            padding: 70px;
            font-size: 3em;
        }
        &__icon {
            margin-right: 50px;
        }
    }
}