@font-face {
	font-family: 'Shrikhand';
	src: url('polices/Shrikhand-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('polices/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body, html {
    font-family: 'Roboto', sans-serif;
}