.step__element:hover{
    background-color: lighten($color: $colour-primary, $amount: 35%);
    > .step__icon {
        color: $colour-primary;
    }
}

@keyframes apparition {
    0% {
        transform: translateY(1);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.product {
    animation: apparition 2s both;
    &__delay0 {
        animation-delay: 0s;
    }
    &__delay1 {
        animation-delay: .2s;
    }
    &__delay2 {
        animation-delay: .4s;
    }
    &__delay3 {
        animation-delay: .6s;
    }
    &__delay4 {
        animation-delay: .8s;
    }
    &__delay5 {
        animation-delay: 1s;
    }
    &__delay6 {
        animation-delay: 1.2s;
    }
    &__delay7 {
        animation-delay: 1.4s;
    }
    &__delay8 {
        animation-delay: 1.6s;
    }
    &__delay9 {
        animation-delay: 1.8s;
    }
}