@mixin border-quote($colour:$colour-tertiary) {
    border-top: 5px solid darken($colour, $amount: 30%);
}

@mixin font-quote($colour:$colour-tertiary) {
    background-color: darken($colour, $amount: 10%);
}

@mixin box-radius {
    border-radius: 40px;
}

@mixin img-radius {
    border-radius: 40px 40px 0px 0px;
}

@mixin box-shadow($colour:$colour-shadow) {
    box-shadow: .45rem .45rem .6rem $colour;
}

@mixin btn {
    @include box-shadow;
    padding: 30px 50px 30px 50px;
    border-radius: 50px;
    border: $colour-white;
    color: $colour-white;
    background: linear-gradient($colour-secondary, $colour-primary);
    cursor: pointer;
}

@mixin btn-commande {
    @include box-shadow;
    padding: 30px 100px 30px 100px;
    border-radius: 50px;
    border: $colour-white;
    color: $colour-white;
    background: linear-gradient($colour-secondary, $colour-primary);
    cursor: pointer;
}

@mixin badge-fiches {
    @include colour-badge;
    background-color: $colour-valid;
    position: absolute;
    padding: 40px;
    border-radius: 10px;
    right: 5rem;
    margin-top: 40px;
    font-weight: bold;
}

@mixin colour-badge($colour:$colour-valid) {
    color: darken($colour, $amount: 40%);
}

@mixin btn-fiches {
    font-size: 4em;
}

@mixin banner-img {
    width: 1465px;
    height: 530px;
    object-fit: cover;
}

@mixin banner-img-mobile {
    width: 100%;
    height: 640px;
    object-fit: cover;
}

@mixin page-sub {
    margin-top: 100px;
    color: $colour-shadow;
    font-size: 1.5em;
    text-align: center;
    text-decoration-line: underline;
    text-underline-position: under;
    text-decoration-color: $colour-valid;
    padding-bottom: 20px;
}

@mixin page-sub-mobile {
    margin-top: 100px;
    color: $colour-shadow;
    font-size: 2.3em;
    text-align: start;
    text-decoration-line: underline;
    text-underline-position: under;
    text-decoration-color: $colour-valid;
    padding-bottom: 20px;
}

@mixin product {
    @include box-radius;
    @include box-shadow;
    margin-bottom: 30px;
    background-color: $colour-white;
    display: flex;
    padding: 20px;
    cursor: pointer;
}

@mixin font-footer($colour:$colour-tertiary) {
    background-color: darken($colour, $amount: 70%);
}

@mixin for-phone-only {
    @media screen and (max-device-width: 480px) { @content; }
}