@mixin border-quote($colour:$colour-tertiary) {
    border-top: 5px solid darken($colour, $amount: 30%);
}

@mixin font-quote($colour:$colour-tertiary) {
    background-color: darken($colour, $amount: 10%);
}

@mixin box-radius {
    border-radius: 40px 40px 40px 40px;
}

@mixin img-radius {
    border-radius: 40px 40px 0px 0px;
}

@mixin box-shadow($colour:$colour-shadow) {
    box-shadow: .45rem .45rem .6rem $colour;
}

@mixin btn {
    @include box-shadow;
    padding: 30px;
    border-radius: 50px;
    border: $colour-white;
    color: $colour-white;
    background: linear-gradient($colour-secondary, $colour-primary);
    cursor: pointer;
}

@mixin badge-fiches {
    @include colour-badge;
    background-color: $colour-valid;
    position: absolute;
    padding: 40px;
    border-radius: 10px;
    right: 5rem;
    margin-top: 40px;
    font-size: 2.5em;
    font-weight: bold;
}

@mixin colour-badge($colour:$colour-valid) {
    color: darken($colour, $amount: 40%);
}

@mixin btn-fiches {
    font-size: 4em;
}

@mixin banner-img {
    width: 100%;
    height: 640px;
    object-fit: cover;
}

@mixin font-footer($colour:$colour-tertiary) {
    background-color: darken($colour, $amount: 70%);
}